<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"full","style":{"color":{"text":"#000000","background":"#ffffff"}}} -->
<div class="wp-block-group alignfull has-text-color has-background" style="color:#000000;background-color:#ffffff"><!-- wp:spacer {"height":"64px"} -->
<div style="height:64px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"align":"center","style":{"typography":{"lineHeight":".9"}},"fontSize":"small"} -->
<p class="has-text-align-center has-small-font-size" style="line-height:.9"></p>
<!-- /wp:paragraph -->

<!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":59,"lineHeight":"1.15"}}} -->
<h2 class="wp-block-heading has-text-align-center" id="schedule-a-visit" style="font-size:59px;line-height:1.15">Thành Phước - Nơi Nâng Tầm Cá Cơm Sấy Khô<br></h2>
<!-- /wp:heading -->

<!-- wp:heading {"style":{"typography":{"fontSize":38,"lineHeight":"1.4"}}} -->
<h2 class="wp-block-heading" style="font-size:38px;line-height:1.4"><strong>Khám phá Hương Vị Tươi Mới của Cá Cơm Sấy Thành Phước!</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><strong>Thành Phước</strong> là một doanh nghiệp chuyên sản xuất cá cơm sấy khô thủ công, mang đến cho bạn hương vị ngon không bị khô và sự đa dạng trong cách chế biến sản phẩm</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Hương Vị Cá Cơm Phú Quốc</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cá cơm Phú Quốc có những đặc điểm riêng biệt so với cá cơm ở nơi khác, chủ yếu bởi vùng biển và môi trường sống của chúng. Dưới đây là một số khác biệt quan trọng:</p>
<!-- /wp:paragraph -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:list {"ordered":true} -->
<ol><!-- wp:list-item -->
<li><em>Hương Vị Tươi Mới: Cá cơm Phú Quốc được săn bắt tại biển Phú Quốc, nơi nước biển trong xanh và môi trường biển động tạo nên hương vị độc đáo và tươi ngon. Cá cơm ở đây thường có thịt trắng, mềm mại và thơm ngon hơn so với các loài cá ở nơi khác.</em></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li><em>Môi Trường Sống Tự Nhiên: Môi trường sống tự nhiên của cá cơm Phú Quốc, với biển cả trong xanh, đảo ngọc và thiên nhiên nguyên sơ, cũng có ảnh hưởng đến chất lượng và hương vị của cá cơm.</em></li>
<!-- /wp:list-item --></ol>
<!-- /wp:list --></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p>Những khác biệt này làm cho cá cơm Phú Quốc trở thành một lựa chọn thú vị cho những người yêu thực phẩm biển và muốn trải nghiệm hương vị đặc biệt của đảo ngọc này.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Đa Dạng Chế Biến</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Thành Phước không ngừng sáng tạo để đáp ứng nhu cầu đa dạng của khách hàng. Chúng tôi cung cấp cá cơm sấy khô trong nhiều hình thức khác nhau: từ cá cơm nguyên con, cá cơm sấy, đến cá cơm tỏi bơ tỏi. Sản phẩm của chúng tôi thích hợp cho nhiều loại món ăn khác nhau và sẽ làm hài lòng mọi khẩu vị.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>📞 <strong>Liên Hệ Ngay Hôm Nay!</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Hãy để chúng tôi mang hương vị tươi mới của cá cơm sấy Thành Phước đến bữa ăn của bạn. Liên hệ với chúng tôi để đặt hàng hoặc để biết thêm thông tin:</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
<div class="wp-block-buttons"><!-- wp:button {"width":50,"style":{"color":{"background":"#000000","text":"#ffffff"},"border":{"radius":"50px"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50"><a class="wp-block-button__link has-text-color has-background wp-element-button" href="https://cacomsayphuquoc.vn/?page_id=113" style="border-radius:50px;color:#ffffff;background-color:#000000">Liên hệ chúng tôi</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"64px"} -->
<div style="height:64px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"var:preset|spacing|20"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--20)"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:cover {"url":"https://cacomsayphuquoc.vn/wp-content/uploads/2023/10/Ca_com_rim-2.jpg","id":55,"dimRatio":50,"layout":{"type":"default"}} -->
<div class="wp-block-cover"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><img class="wp-block-cover__image-background wp-image-55" alt="" src="https://cacomsayphuquoc.vn/wp-content/uploads/2023/10/Ca_com_rim-2.jpg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","textColor":"base","fontSize":"large","fontFamily":"dancing-script"} -->
<p class="has-text-align-center has-base-color has-text-color has-dancing-script-font-family has-large-font-size">Cá cơm rim nước mắm</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"textColor":"base"} -->
<div class="wp-block-button"><a class="wp-block-button__link has-base-color has-text-color wp-element-button" href="http://cacomsayphuquoc.vn/?page_id=97">Tham Khảo</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|20"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--20)"><!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|20"}}}} -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:cover {"url":"https://cacomsayphuquoc.vn/wp-content/uploads/2023/10/ca_com_kho-2.jpg","id":56,"dimRatio":50,"isDark":false,"className":"is-style-gwn-small","layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light is-style-gwn-small"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><img class="wp-block-cover__image-background wp-image-56" alt="" src="https://cacomsayphuquoc.vn/wp-content/uploads/2023/10/ca_com_kho-2.jpg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","textColor":"base","fontSize":"large"} -->
<p class="has-text-align-center has-base-color has-text-color has-large-font-size">Quy trình</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"textColor":"base"} -->
<div class="wp-block-button"><a class="wp-block-button__link has-base-color has-text-color wp-element-button" href="http://cacomsayphuquoc.vn/?page_id=114">Tham Khảo</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:cover {"url":"https://cacomsayphuquoc.vn/wp-content/uploads/2023/10/Ca_com_say-2.jpg","id":57,"dimRatio":50,"isDark":false,"className":"is-style-gwn-small","layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light is-style-gwn-small"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><img class="wp-block-cover__image-background wp-image-57" alt="" src="https://cacomsayphuquoc.vn/wp-content/uploads/2023/10/Ca_com_say-2.jpg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","textColor":"base","fontSize":"large"} -->
<p class="has-text-align-center has-base-color has-text-color has-large-font-size">Sản phẩm</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"textColor":"base"} -->
<div class="wp-block-button"><a class="wp-block-button__link has-base-color has-text-color wp-element-button" href="http://cacomsayphuquoc.vn/?page_id=97">Tham Khảo</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Cá cơm </h2>
<!-- /wp:heading -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"100%"} -->
<div class="wp-block-column" style="flex-basis:100%"><!-- wp:gallery {"linkTo":"none"} -->
<figure class="wp-block-gallery has-nested-images columns-default is-cropped"><!-- wp:image {"id":52,"sizeSlug":"large","linkDestination":"none","className":"is-style-default"} -->
<figure class="wp-block-image size-large is-style-default"><img src="https://cacomsayphuquoc.vn/wp-content/uploads/2023/10/ca_com_kho-1-768x1024.jpg" alt="" class="wp-image-52"/></figure>
<!-- /wp:image -->

<!-- wp:image {"id":53,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://cacomsayphuquoc.vn/wp-content/uploads/2023/10/Ca_com_rim-1-768x1024.jpg" alt="" class="wp-image-53"/></figure>
<!-- /wp:image -->

<!-- wp:image {"id":54,"sizeSlug":"large","linkDestination":"none","style":{"color":[]}} -->
<figure class="wp-block-image size-large"><img src="https://cacomsayphuquoc.vn/wp-content/uploads/2023/10/Ca_com_say-1-768x1024.jpg" alt="" class="wp-image-54"/></figure>
<!-- /wp:image --></figure>
<!-- /wp:gallery --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->